<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <% if (info == 'exists') {%>
        wip | exists
    <%}%>
    <% if (info == 'pwnomatch') {%>
        wip | pwnomatch
    <%}%>
    <form action="/account/register" method="POST">
        <input type="text" name="username"> :Username
        <br>
        <input type="text" name="email"> :Email 
        <br>
        <input type="password" name="password"> :Password
        <br>
        <input type="password" name="passwordrepeat"> :Confirm Password
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html> 